<?php
namespace App;

class DBConfig
{
    const HOST = 'mysql';
    const PORT = 3306;
    const USER = 'test';
    const PASSWORD = 'test';
    const DATABASE = 'ws-chat';
    const CHARSET = 'utf8';
}