<?php
namespace App;

use PDO;

class Config
{
    public const OPT = array(
        PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
        PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC,
        PDO::ATTR_EMULATE_PREPARES => TRUE,
    );

    public const HOST = 'db';
    public const PORT = 3306;
    public const USER = 'test';
    public const PASSWORD = 'test';
    public const DATABASE = 'ws-chat';

    public const SRCDIR = __DIR__;
}